<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<!-- https://drive.google.com/uc?id=10a38xa7DmWMu43zCpqVO5mnfLbAd_-JO&export=download -->

<body>
    <h1>list of files are </h1>
    <ol>
        <% data.forEach(function(data) { %>
            <img src="https://drive.google.com/thumbnail?id=<%= data.imageId %>">
            <li> Name:<%= data.filename %> <br> id:<%= data.imageId %> <br> mimetype:<%=data.mimetype%>
            </li>
            <form action="download" method="POST" enctype="multipart/form-data">
                <a href="https://drive.google.com/uc?id=<%= data.imageId %>&export=download">Download</a><br><br>
            </form>
            <% }); %>
    </ol>
</body>

</html>